@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-extrabold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-semibold.ttf);
}

.cars__container {
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto 50px auto;
  font-family: Montserrat;
  color: #333333;
  text-align: center;
}

.cars__title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.cars__subtitle {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 60px 0;
  font-weight: 600;
}

.cars__menu {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.cars__link {
  width: 200px;
  text-align: center;
  flex: 1 1 33.333%;
  height: 30px;
  padding: 14px 0 0 0;
  margin: 0 0 0 20px;
  border: 1px solid #EBEBEB;
}

.cars__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}

.cars__block {
  min-width: 221px;
  height: 579px;
  margin: 10px auto 0 auto;
  background: #FFFFFF;
  box-sizing: border-box;
}

.prices__block:nth-child(2n) {
  border: 1px solid #FED100;
}

.cars__block h3 {
  margin: 50px 0 45px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align-last: left;
}

.cars__block p {
  margin: 0 0 26px 0;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.cars__block p::before {
  content: "✓  ";
  font-weight: bold;
}

.cars__block button {
  margin: 0 auto;
  width: 250px;
  height: 51.34px;
  background: #FED100;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.cars__image img {
  width: 641px;
  height: 453px;
}


@media (max-width: 900px) {
  .cars__title {
    margin: 0 0 50px 0;
  }

  .cars__subtitle {
    display: none;
  }

  .cars__menu {
    width: 550px;
  }

  .cars__link {
    width: 120px;
  }

  .cars__block {
    display: none;
  }

  .cars__image {
    margin: 0 auto;
  }
}

@media (max-width: 615px) {
  .cars__menu {
    width: 250px;
  }

  .cars__link {
    width: 60px;
    border: none;
  }

  .cars__image img {
    width: 321px;
    height: 227px;
  }
}