.description {
  min-height: 700px;
  background-color: #fff;
}

.description__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.description__title {
  margin: 95px 0 66px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  text-align: center;
}

.description__content {
  margin: 0 auto;
}

.description__wrap-1 {
  display: flex;
  flex-direction: row;
}

.description__wrap-2 {
  display: flex;
  flex-direction: row;
}

.description__block {
  max-width: 320px;
  margin: 0 150px 77px 0;
  position: relative;
}

.description__block::before {
  content: "01";
  position: absolute;
  margin: 20px 20px 0 0;
}

.description__block h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 15px 0;
}

.description__block p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}