@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/montserrat-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-extrabold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway/raleway-semibold.ttf);
}

.description {
  min-height: 1600px;
  background-color: #fff;
  max-width: 1500px;
  overflow: hidden;
  margin: 0 auto;
}

.description__container {
  margin: 0 0 0 100px;
}

.description__title {
  margin: 95px 0 66px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
  text-align: center;
}

.description__content {
  margin: 0 auto;
}

.description__wrap-1 {
  display: flex;
  flex-direction: row;
}

.description__wrap-2 {
  display: flex;
  flex-direction: row;
}

.description__block {
  width: 490px;
  margin: 0 100px 77px 0;
  position: relative;
  display: flex;
}

.description__number {}

.description__number-1 {
  max-width: 51px;
  max-height: 61px;
}

.description__number-2 {
  max-width: 62px;
  max-height: 61px;
}

.description__number-3 {
  max-width: 61px;
  max-height: 61px;
}

.description__number-4 {
  max-width: 66px;
  max-height: 61px;
}

.description__text {
  margin: 0 0 0 42px;
}

.description__block h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 15px 0;
}

.description__block p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

@media (max-width: 1100px) {
  .description__container {
    margin: 0 0 0 50px;
  }
}

@media (max-width: 900px) {
  .description__content {
    display: flex;
    flex-direction: column;
  }

  .description__wrap-1 {
    display: flex;
    flex-direction: column;
  }

  .description__wrap-2 {
    display: flex;
    flex-direction: column;
  }

  .description__text p {
    display: none;
  }

  .description__text {
    max-width: 400px;
  }
}

@media (max-width: 540px) {
  .description__text {
    max-width: 290px;
  }
}

@media (max-width: 430px) {
  .description__text {
    max-width: 180px;
  }
}

@media (max-width: 370px) {}