.form {
  max-width: 800px;
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.form__title {
  margin: 120px 0 20px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}

.form__subtitle {
  margin: 0 0 47px 10px;
}

.form__wrapper {}


.form__block-1 {
  display: flex;
  flex-direction: row;
  margin: 0 0 30px 0;
}

.form__input-name {
  width: 300px;
  margin: 0 100px 0 0;
  font-weight: 500;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.7);
}

.form__block-2 {
  display: flex;
  flex-direction: row;
  margin: 20px 0 30px 0;
  height: 100px;
}

.form__block-3 {
  margin: 20px 260px 10px 0;
  height: 100px;
}

.form__paragraph {
  margin: 0 0 30px 0;
}

.form__block {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.form__block-3-input {
  margin: 30px 0 0 0;
}

.form__type-fair-paragraph {
  margin: 0 0 30px 0;
}

.form__type-fair-1 {
  margin: 5px 18px 64px 0;
}

.form__type-fair {
  margin: 5px 18px 64px 40px;
}

@media (max-width: 1020px) {}